
 <!-- <CENTER><IMG SRC= "Rio_square.jpg" WIDTH="30%" Height="30%"/></LEFT> -->

 <div style="background:url('images/stadium.jpg'); background-size:100%; height:500px; color:black"; >

<% ctr=1 %>
<P><P><P>
 <CENTER><TABLE BORDER='1';>
 <TD colspan="10"  BGCOLOR="Yellow" style="font-size: 25px;font-color:white;"><CENTER><font color="black">Competitors</CENTER></TD><TR>
 <% @competitors.each do |competitor, | %>

 <TD WIDTH="150" class="Country" >
    <font color="white"><%= competitor.name %></TD>
    <TD WIDTH="10" BGCOLOR="#060E6D">
   <IMG SRC="person/<%= competitor.name %>.jpg" WIDTH="50" HEIGHT="50" ></TD>
    
    <% if ctr==5 %>
      </TD><TR>
    <% ctr=1 %>
  <% else %>
  <% ctr +=1 %>
</TD>
<% end %>

 <% end %>
 </TABLE>






<!-- <CENTER><H1>Athletes</CENTER<H1></CENTER>
<TABLE WIDTH= '100%' BORDER='1'>
<TH>Num</TH>
<TH>Athlete</TH>
<TH>Country</TH>
<TH>Num</TH>
<TH>Athlete</TH>
<TH>Country</TH>
<TH>Num</TH>
<TH>Athlete</TH>
<TH>Country</TH>
<TR><TD><CENTER>
1.  <TD> Gwen  Jorgensen   <TD>USA </TD><TD>
2.  <TD> Andrea  Hewitt    <TD>NZL </TD><TD>
3.  <TD> Sarah True        <TD>USA </TD><TR><TD><CENTER>
4.  <TD> Katie Zaferes     <TD>USA </TD><TD>
5.  <TD> Rachel  Klamer    <TD>NED </TD><TD>
6.  <TD> Flora Duffy       <TD>BER </TD><TR><TD><CENTER>
7.  <TD> Ai  Ueda          <TD>JPN </TD><TD>
8.  <TD> Vicky Holland     <TD>GBR </TD><TD>
9.  <TD> Jodie Stimpson    <TD>GBR </TD><TR><TD><CENTER>
10. <TD> Ashleigh  Gentle  <TD>AUS </TD><TD>
11. <TD> Emma Moffatt      <TD>AUS </TD><TD>
12. <TD> Vendula Frintova  <TD>CZE </TD><TR><TD><CENTER>
13. <TD> Kirsten Kasper    <TD>USA </TD><TD>
14. <TD> Lisa  Perterer    <TD>AUT </TD><TD>
15. <TD> Aileen  Reid      <TD>IRL </TD><TR><TD><CENTER>
16. <TD> Annamari Mazzetti <TD>ITA </TD><TD>
17. <TD> Barbara Riveros   <TD>CHI </TD><TD>
18. <TD> Non Stanford      <TD>GBR </TD><TR><TD><CENTER>
19. <TD> Rebecca Robisch   <TD>GER </TD><TD>
20. <TD> Yuka  Sato        <TD>JPN </TD><TD>
21. <TD> Claudia Rivas     <TD>MEX </TD><TR><TD><CENTER>
22. <TD> Charlotte McShane <TD>AUS </TD><TD>
23. <TD> Renee Tomlin      <TD>USA </TD><TD>
24. <TD> Helen Jenkins     <TD>GBR </TD><TR><TD><CENTER>
25. <TD> Lindsey Jerdonek  <TD>USA </TD><TD>
26. <TD> Emma  Jackson     <TD>AUS </TD><TD>
27. <TD> Pamella Oliveira  <TD>BRA </TD><TR><TD><CENTER>
28. <TD> Hanna Philippin   <TD>GER </TD><TD>
29. <TD> Yuko  Takahashi   <TD>JPN </TD><TD>
30. <TD> Yurie Kato        <TD>JPN </TD><TR><TD><CENTER>
31. <TD> Sara  Vilic       <TD>AUT </TD><TD>
32. <TD> Ainhoa  Murua     <TD>ESP </TD><TD> 
</TD></TABLE> -->