
<% ctr=1 %>

<div style="background:url('images/copacabana.jpg'); background-size:100%; height:500px; color:black"; >
<BR>
 <CENTER><TABLE WIDTH="80%" BORDER='1'>

 <TD colspan="10"  BGCOLOR="Yellow" style="font-size: 25px;"><CENTER><FONT color="black">Events</CENTER></TD><TR>
 <% @events.each do |event| %>


 <TD VALIGN='Center' WIDTH=150 class="Country" >
   <CENTER><FONT color="Yellow"> <a href = "/events/<%= event.id %>/edit"><%= event.sport %></a>
   <!-- <BR> -->
     <B>
    <!-- <CENTER><%= event.name %> -->
    <TD WIDTH="10" BGCOLOR="Green">
      <IMG SRC="sports/<%= event.sport %>.gif" WIDTH="35" HEIGHT="35" ></TD>

    </TD>

    <!-- <IMG SRC="flags/<%#= event.name %>.png" ></TD> -->
    
    <% if ctr==5 %>
      </TD><TR>
    <% ctr=1 %>
  <% else %>
  <% ctr +=1 %>
</TD>
<% end %>

 <% end %>
 </TABLE>
</div>








<!-- <CENTER><h1>Events</h1></CENTER>

<center><TABLE Border="1">
<TH>EVENT</TH>
<TH>EVENT</TH>
<TH>Event</TH><TR>
<TD>Archery<TD>
Athletics<TD>
Badminton<TR><TD>
Basketball<TD>
Beach Volleyball<TD>
Boxing<TR><TD>

Canoe Slalom<TD>
Canoe Sprint<TD>
Cycling BMX<TR><TD>

Cycling Mountain Bike<TD>
Cycling Road<TD>
Cycling Track<TR><TD>

Diving<TD>
Equestrian / Dressage<TD>
Equestrian / Eventing<TR><TD>

Equestrian / Jumping<TD>
Fencing<TD>
Football<TR><TD>

Golf<TD>
Gymnastics Artistic<TD>
Gymnastics Rhythmic<TR><TD>

Handball<TD>
Hockey<TD>
Judo<TR><TD>

Modern Pentathlon<TD>
Rowing<TD>
Rugby<TR><TD>

Sailing<TD>
Shooting<TD>
Swimming<TR><TD>

Synchronized Swimming<TD>
Table Tennis<TD>
Taekwondo<TR><TD>

Tennis<TD>
Trampoline<TD>
Triathlon<TR><TD>

Volleyball<TD>
Water Polo<TD>
Weightlifting<TR><TD>

Wrestling Freestyle<TD>


</table> -->