<!-- <body background="/medals.jpg"> -->

<TABLE CELLPADDING=0 CELLSPACING=0  WIDTH="100%">
</TABLE>
<IMG SRC= "/home.jpg"? HEIGHT="80%" WIDTH="100%"/ usemap="#medalmap">

<map name="medalmap">
  <area shape="circle" coords="195,360,190" href="/nations1" alt="Silver">
  <area shape="circle" coords="635,365,190" href="/participants" alt="Gold">
  <area shape="circle" coords="1065,380,190" href="/events" alt="Bronze">
</map>
<!-- <Div class = 'left'><H1>Nations</H1><H2></H2>lkj</h2></Div>  -->

<!-- </Body> -->



