
<!DOCTYPE html>
<HTML lang="en">
<head>


  <title>2016 Olympics</title>
</head>

<link rel="stylesheet" type="text/css" href="/styles.css">
<!-- <HR> -->
<TABLE  BORDER= "0" WIDTH="100%">
<TD WIDTH="12%" rowspan="2">
<CENTER></CENTER><a href="/splash"><IMG SRC ="/images/rio.gif" HEIGHT="80"/></CENTER></a>
<!-- <div class="hit-the-floor">Rio Olympics 2016</div> -->
<TD WIDTH="15%"><CENTER>

<a href="/nations"><IMG SRC ="/images/world.gif" ALT="Nations" HEIGHT="70"/></a>
<TD WIDTH="15%"><CENTER>

<a href="/competitors"><IMG SRC ="/images/competitors.gif" HEIGHT="70"/></a>
<TD WIDTH="15%"><CENTER>
<!-- <a href="/events"><IMG SRC ="/runner.gif" Height="70"/></a>
<TD WIDTH="16%"><CENTER> -->

<a href="/events"><IMG SRC ="/images/sports.gif" Height="70"/></a>
<TD WIDTH="16%"><CENTER>
<a href="/medal_table"><IMG SRC ="/images/medals.gif" Height="70"/></a>

<TD margins="0" Padding ="0"rowspan="2" ><IMG SRC ="/images/brazil_flag.gif" ALT="Nations" HEIGHT="50%" WIDTH="100%"/>

<TR><TD><CENTER>Nations<TD><CENTER>Competitors</TD><TD><CENTER>Events</TD><TD><CENTER>Medal Table
</TD><TD>
</TABLE><HR>
<iframe width='100%' height='20' frameborder='0' background-colour:'blue'; marginheight='0' marginwidth='0' scrolling='yes' src='http://www.sailweb.co.uk/sailwebticker.aspx'></iframe>


<body">
  <%= yield  %>
</body>
</html>