<!DOCTYPE html>
<HTML lang="en">

<head>

  <title>2016 Olympics</title>
</head>

<link rel="stylesheet" type="text/css" href="/styles.css">
<HR>
<TABLE  BORDER= "0" WIDTH="100%">
<TD WIDTH="16%" rowspan="2">
<CENTER><IMG SRC ="/logo.png" HEIGHT="120"/>
<!-- <div class="hit-the-floor">Rio Olympics 2016</div> -->
<TD WIDTH="16%"><CENTER>
<a href="/nations1"><IMG SRC ="/world.gif" ALT="Nations" HEIGHT="70"/></a>
<TD WIDTH="16%"><CENTER>
<a href="/participants"><IMG SRC ="/JESSICA_ENNIS.png" HEIGHT="70"/></a>
<TD WIDTH="16%"><CENTER>
<!-- <a href="/events"><IMG SRC ="/runner.gif" Height="70"/></a>
<TD WIDTH="16%"><CENTER> -->
<a href="/events"><IMG SRC ="/events1.png" Height="70"/></a>
<TD WIDTH="16%"><CENTER>
<a href="/medal_table"><IMG SRC ="/singleMedal.jpg" Height="70"/></a>

<TD margins="0" Padding ="0"rowspan="2" ><IMG SRC ="/brazil_flag.gif" ALT="Nations" HEIGHT="130" WIDTH="100%"/>

<TR><TD><CENTER>Nations<TD><CENTER>Participants</TD><TD><CENTER>Events</TD><TD><CENTER>Medal Table
</TD><TD>
</TABLE>
<HR>

<body">
  <%= yield  %>
</body>
</html>