
<!-- <CENTER><IMG SRC= "Rio_square.jpg" WIDTH="30%" Height="30%"/></LEFT> -->
<% ctr=1 %>
<CENTER><h1>Nations</h1></CENTER>
 <CENTER><TABLE BORDER='1' WIDTH='100%'>
 <% @nations.each do |nation| %>


 <TD BGCOLOR="#424949">
    
    


    <!-- a href="/getartist"><%#= artist.name() %> -->
    <!-- <a nohref style="cursor:pointer;color:White;text-decoration:underline"
    onClick="alert --><!-- ('This will be a link to display the nations')"> -->
    <%= nation.name %>
    <!-- <%= '<IMG SRC= "/public/flags/" + #{nation.name} +".png>"' %> -->
    <!-- </a> -->
    <TD><IMG SRC = <%= "flags/"+nation.name+".png" %> </TD>
    <!-- img src="flags/great britain.png" -->


    <% if ctr==5 %>
      </TD><TR>
    <% ctr=1 %>
  <% else %>
  <% ctr +=1 %>
</TD>
<% end %>

 <% end %>
 </TABLE>