
<!-- <CENTER><IMG SRC= "Rio_square.jpg" WIDTH="30%" Height="30%"/></LEFT> -->
<% ctr=1 %>
<P><P><P>
 <CENTER><TABLE BORDER='1'>
 <TD colspan="10"  BGCOLOR="Yellow" style="font-size: 35px; color:black;"><CENTER>Nations</CENTER></TD><TR>
 <% @nations.each do |nation| %>


 <TD WIDTH="150" class="Country" BGCOLOR="Green">
    
    <%= nation.name %>
    <TD WIDTH="10" BGCOLOR="#060E6D"><CENTER><IMG SRC="flags/<%= nation.name %>.png" </TD>
    
    <% if ctr==5 %>
      </TD><TR>
    <% ctr=1 %>
  <% else %>
  <% ctr +=1 %>
</TD>
<% end %>

 <% end %>
 </TABLE>