<CENTER><H1>Competing Nations</H1>

<CENTER><TABLE WIDTH="75%" BORDER="1">
<TH WIDTH='5%'>No.</TH><th WIDTH="10%">Country</th><TH WIDTH='5%'>Flag</TH>
<TH WIDTH='5%'>No.</TH><th  WIDTH="10%">Country</th><TH WIDTH='5%'>Flag</TH>
<TH WIDTH='5%'>No.</TH><th WIDTH="10%">Country</th><TH WIDTH='5%'>Flag</TH>
<TH WIDTH='5%'>No.</TH><th  WIDTH="10%">Country</th><TH WIDTH='5%'>Flag</TH><TR>
<TD BGCOLOR="GRAY"><CENTER>
1<TD>Greece</TD><TD><img src="flags/greece.png"</TD><TD BGCOLOR="GRAY"><CENTER>
2<TD>Afghanistan</TD><TD><img src="flags/afghanistan.png"</TD><TD BGCOLOR="GRAY"><CENTER>
3<TD>South Africa</TD><TD><img src="flags/south africa.png"</TD><TD BGCOLOR="GRAY"><CENTER>
4<TD>Albania</TD><TD><img src="flags/albania.png"</TD><TR><TD BGCOLOR="GRAY"><CENTER>
5<TD>Germany</TD><TD><img src="flags/germany.png"</TD><TD BGCOLOR="GRAY"><CENTER>
6<TD>Andorra</TD><TD><img src="flags/andorra.png"</TD><TD BGCOLOR="GRAY"><CENTER>
7<TD>Angola</TD><TD><img src="flags/angola.png"</TD><TD BGCOLOR="GRAY"><CENTER>
8<TD>Antigua and Barbuda</TD><TD><img src="flags/Antigua_Barbuda.png"</TD><TR><TD BGCOLOR="GRAY"><CENTER>
9<TD>Saudi Arabia</TD><TD><img src="flags/Saudi Arabia.png"</TD><TD BGCOLOR="GRAY"><CENTER>
10<TD>Algeria</TD><TD><img src="flags/algeria.png"</TD><TD BGCOLOR="GRAY"><CENTER>
11<TD>Argentina</TD><TD><img src="flags/argentina.png"</TD><TD BGCOLOR="GRAY"><CENTER>
12<TD>Armenia<</TD><TD><img src="flags/armenia.png"</TD><TR><TD BGCOLOR="GRAY"><CENTER>
13<TD>Aruba</TD><TD><img src="flags/aruba.png"</TD><TD BGCOLOR="GRAY"><CENTER>
14<TD>Independent Olympic Athletes</TD><TD><img src="flags/argentina.png"</TD><TD BGCOLOR="GRAY"><CENTER>
15<TD>Australia</TD><TD><img src="flags/australia.png"</TD><TD BGCOLOR="GRAY"><CENTER>
16<TD>Austria</TD><TD><img src="flags/Austria.png"</TD><TR><TD BGCOLOR="GRAY"><CENTER>
17<TD>Azerbaijan</TD><TD><img src="flags/azerbaijan.png"</TD><TD BGCOLOR="GRAY"><CENTER>
18<TD>Bahamas</TD><TD><img src="flags/bahamas.png"</TD><TD BGCOLOR="GRAY"><CENTER>
19<TD>Bangladesh</TD><TD><img src="flags/bangladesh.png"</TD><TD BGCOLOR="GRAY"><CENTER>
20<TD>Barbados</TD><TD><img src="flags/barbados.png"</TD><TR><TD BGCOLOR="GRAY"><CENTER>
21<TD>Bahrain</TD><TD><img src="flags/bahrain.png"</TD><TD BGCOLOR="GRAY"><CENTER>
22<TD>Belarus</TD><TD><img src="flags/belarus.png"</TD><TD BGCOLOR="GRAY"><CENTER>
23<TD>Belgium</TD><TD><img src="flags/belgium.png"</TD><TD BGCOLOR="GRAY"><CENTER>
24<TD>Belize</TD><TD><img src="flags/belize.png"</TD><TR><TD BGCOLOR="GRAY"><CENTER>
25<TD>Benin</TD><TD><img src="flags/benin.png"</TD><TD BGCOLOR="GRAY"><CENTER>
26<TD>Bermuda</TD><TD><img src="flags/bermuda.png"</TD><<TD BGCOLOR="GRAY"><CENTER>
27<TD>Bolivia</TD><TD><img src="flags/bolivia.png"</TD><TD BGCOLOR="GRAY"><CENTER>
28<TD>Bosnia and Herzegovina</TD><TD><img src="flags/bosnia_herzegovenia.png"</TD><TR><TD BGCOLOR="GRAY"><CENTER>
29<TD>Botswana</TD><TD><img src="flags/botswana.png"</TD><TD BGCOLOR="GRAY"><CENTER>
30<TD>Brunei Darussalam</TD><TD><img src="flags/Brunei.png"</TD><TD BGCOLOR="GRAY"><CENTER>
31<TD>Bulgaria</TD><TD><img src="flags/bulgaria.png"</TD><TD BGCOLOR="GRAY"><CENTER>
32<TD>Burkina Faso</TD><TD><img src="flags/burkina faso.png"</TD><TR><TD BGCOLOR="GRAY"><CENTER>
33<TD>Burundi</TD><TD><img src="flags/burundi.png"</TD><TD BGCOLOR="GRAY"><CENTER>
34<TD>Bhutan</TD><TD><img src="flags/bhutan.png"</TD><TD BGCOLOR="GRAY"><CENTER>
35<TD>Cape Verde</TD><TD><img src="flags/cape verde.png"</TD><TD BGCOLOR="GRAY"><CENTER>
36<TD>Cameroon</TD><TD><img src="flags/cameroon.png"</TD><TR><TD BGCOLOR="GRAY"><CENTER>
37<TD>Cambodia</TD><TD><img src="flags/cambodia.png"</TD><TD BGCOLOR="GRAY"><CENTER>
38<TD>Canada</TD><TD><img src="flags/canada.png"</TD><TD BGCOLOR="GRAY"><CENTER>
39<TD>Qatar</TD><TD><img src="flags/qatar.png"</TD><TD BGCOLOR="GRAY"><CENTER>
40<TD>Kazakhstan</TD><TD><img src="flags/kazakhstan.png"</TD><TR><TD BGCOLOR="GRAY"><CENTER>
41<TD>Cayman Islands</TD><TD><img src="flags/cayman islands.png"</TD><TD BGCOLOR="GRAY"><CENTER>
42<TD>Central African Republic</TD><TD><img src="flags/central african republic.png"</TD><TD BGCOLOR="GRAY"><CENTER>
43<TD>Chad</TD><TD><img src="flags/chad.png"</TD><TD BGCOLOR="GRAY"><CENTER>
44<TD>Chile</TD><TD><img src="flags/chile.png"</TD><TR><TD>
45<TD>People's Republic of China</TD><TD><img src="flags/china.png"</TD><TD>
46<TD>Cyprus</TD><TD><img src="flags/cyprus.png"</TD><TD>
47<TD>Colombia</TD><TD><img src="flags/colombia.png"</TD><TD>
48<TD>Comoros</TD><TD><img src="flags/comoros.png"</TD><TR><TD>
49<TD>Congo</TD><TD><img src="flags/congo-brazzaville.png"</TD><TD>
50<TD>Democratic Republic of the Congo</TD><TD><img src="flags/congo-kinshasa(Zaire).png"</TD><TD>
51<TD>Cook Islands</TD><TD><img src="flags/cook Islands.png"</TD><TD>
52<TD>Republic of Korea</TD><TD><img src="flags/North korea.png"</TD><TR><TD>
53<TD>Côte d’Ivoire</TD><TD><img src="flags/cote d'ivoire.png"</TD><TD>
54<TD>Costa Rica</TD><TD><img src="flags/costa rica.png"</TD><TD>
55<TD>Croatia</TD><TD><img src="flags/croatia.png"</TD><TD>
56<TD>Cuba</TD><TD><img src="flags/cuba.png"</TD><TR><TD>
57<TD>Denmark</TD><TD><img src="flags/denmark.png"</TD><TD>
58<TD>Djibouti</TD><TD><img src="flags/djibouti.png"</TD><TD>
59<TD>Dominica</TD><TD><img src="flags/dominica.png"</TD><TD>
60<TD>Dominican Republic</TD><TD><img src="flags/dominican republic.png"</TD><TR><TD>
61<TD>Egypt</TD><TD><img src="flags/egypt.png"</TD><TD>
62<TD>El Salvador</TD><TD><img src="flags/el salvador.png"</TD><TD>
63<TD>United Arab Emirates</TD><TD><img src="flags/united arab emirates.png"</TD><TD>
64<TD>Ecuador</TD><TD><img src="flags/ecuador.png"</TD><TR><TD>
65<TD>Eritrea</TD><TD><img src="flags/eritrea.png"</TD><TD>
66<TD>Slovakia</TD><TD><img src="flags/slovakia.png"</TD><TD>
67<TD>Slovenia</TD><TD><img src="flags/slovenia.png"</TD><TD>
68<TD>Spain</TD><TD><img src="flags/spain.png"</TD><TR><TD>
69<TD>Federated States of Micronesia</TD><TD><img src="flags/micronesia.png"</TD><TD>
70<TD>United States of America</TD><TD><img src="flags/united states of america (usa).png"</TD><TD>
71<TD>Estonia</TD><TD><img src="flags/estonia.png"</TD><TD>
72<TD>Ethiopia</TD><TD><img src="flags/ethiopia.png"</TD><TR><TD>
73<TD>Former Yugoslav Republic of Macedonia</TD><TD><img src="flags/macedonia.png"</TD><TD>
74<TD>Fiji</TD><TD><img src="flags/fiji.png"</TD><TD>
75<TD>Philippines</TD><TD><img src="flags/phillipines.png"</TD><TD>
76<TD>Finland</TD><TD><img src="flags/finland.png"</TD><TR><TD>
77<TD>France</TD><TD><img src="flags/france.png"</TD><TD>
78<TD>Gabon</TD><TD><img src="flags/gabon.png"</TD><TD>
79<TD>Gambia</TD><TD><img src="flags/gambia.png"</TD><TD>
80<TD>Ghana</TD><TD><img src="flags/ghana.png"</TD><TR><TD>
81<TD>Georgia</TD><TD><img src="flags/georgia.png"</TD><TD>
82<TD>Great Britain</TD><TD><img src="flags/great britain.png"</TD><TD>
83<TD>Grenada</TD><TD><img src="flags/grenada.png"</TD><TD>
</TABLE>


<CENTER><TABLE BORDER='1'WIDTH='400'>
<% @nations.each do |nations| %>
<TD BGCOLOR="#424949">
   <!-- a href="/getartist"><%= artist.name() %> -->
   <!-- <a nohref style="cursor:pointer;color:White;text-decoration:underline"
   onClick="alert --><!-- ('This will be a link to display the nations')"> -->
   <%= nations.name() %>;lkh<TD><img src="flags/great britain.png">
   <!-- </a> -->
   </TD><TR>

<% end %>
</TABLE>



