<!-- <P><P><P><P><P><P><CENTER><h1>Welcome to the 2016 Rio Olympics.</h1><BR><BR> -->
<HTML>
<head> 
  <META charset="UTF-8" HTTP-EQUIV="Refresh"
       CONTENT="5; URL="./Nations1.erb">
    

   <div height="75%">
   <P><P><P><P><P><P>
     <CENTER><IMG SRC= "codeclanolympics.gif">
   </div>
</head>
</HTML>


<!-- <a href='./artists/new'><h3>Create a New Artist</h3></a></CENTER>
<a href='./artists'><h3>View Artists List</h3></a></CENTER>
 -->
 <!-- <div id="cf2" class="shadow">
   <img class="bottom" src="/Rio_square.jpg" />
   <img class="top" src="/Rio_3d.jpg" />
 </div>
 <p id="cf_onclick">Click me to toggle</p>
 -->

 <!-- <P><P><P><P><CENTER><h1>Select a link above to continue.</h1><BR><BR> -->